.normal_input {
    position: absolute;
    background: transparent;
    border: none;
    color: white;
    outline: none;
    box-shadow: none;
    font-size: 12px;
    width: 120px;
}
.normal_button {
    position: absolute;
    opacity: 0;
}

/* 去除密码框后面小眼睛 */
input[type=password]::-ms-reveal,
input[type=password]::-webkit-reveal-button
{
    display: none;
}

/* 去除文本框后面清除按钮（x） */
input[type=text]::-webkit-clear-button,
input[type=text]::-ms-clear
{
    display: none;
}