* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: white;
}
input {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    width: 120px;
}
/* 去除密码框后面小眼睛 */
input[type=password]::-ms-reveal,
input[type=password]::-webkit-reveal-button
{
    display: none;
}
/* 去除文本框后面清除按钮（x） */
input[type=text]::-webkit-clear-button,
input[type=text]::-ms-clear
{
    display: none;
}
textarea {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    resize: none;
}
button {
    opacity: 0;
}
label, p {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}